<nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; background-color: #4CAF50; color: white; border-radius: 5px; margin-bottom: 20px;">
    <div class="nav-left">
        <a href="{% url 'index' %}" style="color: white; font-weight: bold; text-decoration: none;">Цитатник</a>
    </div>

    <div class="nav-right">
        <a href="{% url 'top_quotes' %}" style="color: white; margin-right: 15px; text-decoration: none;">Топ Цитат</a>
        <a href="{% url 'add_quote' %}" style="color: white; margin-right: 15px; text-decoration: none;">Добавить Цитату</a>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" style="color: white; margin-right: 15px; text-decoration: none;">Профиль</a>
            <a href="{% url 'logout' %}" style="color: white; text-decoration: none;">Выход</a>
        {% else %}
            <a href="{% url 'login' %}" style="color: white; margin-right: 15px; text-decoration: none;">Вход</a>
            <a href="{% url 'register' %}" style="color: white; text-decoration: none;">Регистрация</a>
        {% endif %}
    </div>
</nav>
