<!DOCTYPE html>
<html>
<head>
    <title>Случайная цитата</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'blocks/navbar_block.html' %}
    <h1>Случайная цитата</h1>

    {% if quote %}
        {% if quote %}
            {% include 'blocks/quote_block.html' with quote=quote can_vote=True user_vote=user_vote %}
        {% endif %}

    {% else %}
        <p>Цитат пока нет</p>
    {% endif %}

    {% include 'blocks/footer_block.html' %}
</body>
</html>
